- if @galleries.blank?

- else
  - @galleries.each do |gallery|
    =# link_to_gallery gallery
    .gallery_container
      .gallery_preview
        = gallery.photos.blank? ? '&nbsp;'.html_safe : link_to(image_tag(gallery_random_photo(gallery).url(:small)), user_gallery_path(gallery.user, gallery))
      .gallery_info
        .g_name= link_to gallery.name, user_gallery_path(gallery.user, gallery)
        .g_updated= gallery.updated_at