= image_tag(photo.url(:large), :class => 'tall', :onclick => "popup_photo('#{photo.url(:large)}');")

#photo-tools
  - if current_user && photo.user == current_user
    = link_to t('.delete_this_photo'), user_gallery_photo_path(photo.user, photo.gallery, photo), :method => :delete
