#gallery_show

  - if @photos.blank?
    #gallery_no_photos
      =t('gallery.no_photos_in_this_gallery')
      =link_to t('gallery.upload_photos?'), new_user_gallery_photo_path(current_user, @gallery)
  - else

    #selected_photo
      = render :partial => 'photos/photo', :locals => {:photo => @photos.first}

    #photos

      - @photos.each do |photo|
        = link_to_photo @gallery, photo

  %br.clearfix

:javascript
  $('#photos').find('a')[0].click();

  //$('#photos').find('a').each(function(){
  //  $(this).onclick()
  //  window.location.hash = "sdf"
  //}


  -#$(function(){
  -#
  -#  // Bind an event to window.onhashchange that, when the hash changes, gets the
  -#  // hash and adds the class "selected" to any matching nav link.
  -#  $(window).hashchange( function(){
  -#    var hash = location.hash;
  -#
  -#    // Set the page title based on the hash.
  -#    //document.title = 'The hash is ' + ( hash.replace( /^#/, '' ) || 'blank' ) + '.';
  -#
  -#    // Iterate over all nav links, setting the "selected" class as-appropriate.
  -#    $('#photos').find('a').each(function(){
  -#      var that = $(this);
  -#      that[ that.attr( 'href' ) === hash ? 'addClass' : 'removeClass' ]( 'selected' );
  -#      //that.addClass('selected')
  -#    });
  -#  })
  -#
  -#  // Since the event is only triggered when the hash changes, we need to trigger
  -#  // the event now, to handle the hash the page may have loaded with.
  -#  $(window).hashchange();
  -#
  //});