#gallery_show

  - if @photos.blank?
    #gallery_no_photos
      =t('gallery.no_photos_in_this_gallery')
      =link_to t('gallery.upload_photos?'), new_user_gallery_photo_path(current_user, @gallery)
  - else

    #selected_photo
      &nbsp;
      =# render :partial => 'photos/photo', :locals => {:photo => @photos.first}

    #photos

      - @photos.each do |photo|
        = link_to_photo @gallery, photo

  %br.clearfix

:javascript
  $(document).ready(function() {
    add_identifier_to_links();
    initial_open_photo();
    $("#photos").niceScroll();
  });

  function initial_open_photo() {
    if (window.location.hash.length > 0) {
      open_photo_by_identifier();
    } else {
      $('#photos').find('a')[0].click();
    }
  }

  function add_identifier_to_links() {
    $('#photos').find('a').each(function(){
      $(this).click(function() {
        window.location.hash = $(this).attr('rel');
      })
    });
  }

  function open_photo_by_identifier() {
    identifier = window.location.hash;

    if (identifier.length > 0) {
      $.ajax({
        url:  "#{find_by_identifier_user_gallery_photos_path(@gallery.user, @gallery)}",
        type: "POST",
        data: 'identifier=' + identifier
      })
    }
  }
