/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

html, body {
    height: 100%;
    margin: 0;
}

#wrap {
    position: relative;
    min-height: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

#main {
    overflow:auto;

}

#yield {
    padding: 40px 0 10px 0;
}

#footer {
    position: relative;
    margin: -50px auto 0 auto;
    height: 50px;
    clear:both;
    padding: 0 10px;
}


body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}

#popup_window {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align:middle;
    background-color: #000;
    color: white;
    z-index: 1000;
    padding-top: 20px;
    cursor: pointer;
}
