/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
    padding-top: 60px;
    background-color: #EEE !important;
}

#photo-exif {
    font-size: 10px;;
}

#photo-exif dt {
  float: left;
}
#photo-exif dt {
    width: 120px;
}
#photo-exif dd {
    display: block;
    margin-left: 120px;
}

#popup_window {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align:middle;
    background-color: #000;
    color: white;
    z-index: 1000;
    padding-top: 20px;
    cursor: pointer;
}
