#gallery_show {
    position: relative;
    padding: 10px;
    background-color: #1E1E1D;
    border-top: solid 1px #666;
    border-right: solid 1px #2D2D2D;
    border-left: solid 1px #2D2D2D;
    border-bottom: solid 1px #2D2D2D;
}

#selected_photo {
    width: 900px;
    height: 562px;
    overflow: hidden;
    text-align: center;
}

#photos {
    position: absolute;
    width: 270px;
    top: 10px;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
}

#photos .photo_preview {
    float: left;
    margin-left: 10px;
}