#gallery_show {
    position: relative;
    padding: 10px;
    background-color: #1E1E1D;
    border-top: solid 1px #666;
    border-right: solid 1px #2D2D2D;
    border-left: solid 1px #2D2D2D;
    border-bottom: solid 1px #2D2D2D;
}

#gallery_scheduled_photos {
    position: absolute;
    top: -34px;
    z-index: 10;
}

#selected_photo {
    width: 900px;
    text-align: center;
}

#photos {
    position: absolute;
    width: 270px;
    height: 508px;
    top: 10px;
    right: 10px;
    overflow: hidden;
}

#photos * {
    border: none;
}

#photos .photo_preview {
    float: left;
    margin-left: 10px;
    margin-bottom: 4px;
}

#photo-tools {
    text-align: center;
    font-size: 10px;
}

.gallery_container {
    width: 400px;
    height: 200px;
    float: left;
    border: 0px solid green;
}

.gallery_container {
    margin-left: 50px;
    margin-bottom: 20px;
}

.gallery_container .gallery_preview,
.gallery_container .gallery_info {
    float: left;
}

.gallery_container .gallery_info .g_name {
    font-size: 16px;
    margin-bottom: 10px;
}

.gallery_container .gallery_info .g_updated {
    font-size: 10px;
}

.gallery_container .gallery_preview {
    width: 164px;
    height: 164px;
    overflow: hidden;
}

.gallery_container .gallery_preview img {
    padding: 2px;
    border: 1px solid #666666;
}