body {
  background-color: #000;
  color: #CBCBCB;
  font-family: Ubuntu, Arial, Helvetica;
}


#header {
    padding: 10px 0;
    border-bottom: 1px solid #dcdcdc;
}

#header a {
    color: #CBCBCB;
}

#header #site_name {
    float: left;
    font-size: 26px;
    font-weight: bold;
}

#header #site_name a {
    text-decoration: none;
}

#header #actions {
    float:right;
}

#header #actions a {
    font-size: 13px;
    margin-right: 10px;
}

#sign_in {
    width: 37px;
}

#gallery_no_photos {
    text-align: center;
}

a {
    color: #CBCBCB;
}

br.clearfix {
    clear: both;
}

.signin_button {

}

h2 {
    font-weight: normal;
 }